* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
  
html {
  width: 1036px;
  height: 683px;
}
  
.v2_10 {
  width: 100%;
  height: 683px;
  background: url("../images/v2_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_4 {
  width: 100%;
  height: 683px;
  background: url("../images/v5_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_2 {
  width: 100%;
  height: 683px;
  background: rgba(27,29,54,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 262px;
  left: 451px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v2_3 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 333px;
  left: 472px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v2_4 {
  wabsolute;
  top: 13px;idth: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 404px;
  left: 468px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v2_9 {
  width: 203px;
  height: 96px;
  background: url("../images/v2_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: 
  left: 23px;
  overflow: hidden;
}
